<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.bestpricemarket.mappers.BasketMapper">
  
  <insert id="insertBasket">
   insert into likes(l.no,l_g_gno,l_m_id,l_m_actionstatus)
     values(#{lno},#{l_g_gno},#{l_m_id},#{l_m_actionstaus})
  
  </insert>

  <select id="listBasket"   resultType="com.bestpricemarket.domain.BasketVO" >
   select  l.lno,l.l_m_id ,m.username, g.gno,g.gname,g.actionstatus,g.lowestprice,g.enddate
   from likes l join member m
   on l.l_m_id = m.id
   join goods g
   on l.l_g_gno = g.gno
 
  </select>
  
  <delete id="deleteBasket" parameterType="int">
	delete from likes
	where lno=#{lno}
  </delete>
  
  <select id="getCount" resultType="int">
   select count(lno)
   from likes 
  </select>
 
 <!-- 게시물 목록 + 페이징 -->
 <select id="listPage" parameterType="hashMap" resultType="com.bestpricemarket.domain.BasketVO">
   select l.lno,l.l_m_id ,m.username, g.gno,g.gname,g.actionstatus,g.lowestprice,g.enddate,f.f_name
   from likes l join member m
   on l.l_m_id = m.id
   join goods g
   on l.l_g_gno = g.gno
   join goodsfile f
   on l.l_g_gno = f.f_g_gno
   order by lno desc
   limit #{displayPost}, #{postNum}
</select>
 
  </mapper>

 
