<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.bestpricemarket.mappers.BasketMapper">
  
  <insert id="insertBakset">
   insert into likes(l_g_gno,l_m_id,l_m_actionstatus)
     values(#{l_g_gno},#{l_m_id},#{l_m_actionstaus})
  
  </insert>
  
  
  </mapper>


